@import "../../styles/base/variables";
.section-escrowly-api {
  h3 {
    margin-bottom: 4px;
  }
  .card-pay {
    padding: 12px;
    border: 1px solid $minimal;
    border-radius: 12px;
    align-items: center;
    svg {
      min-height: 24px;
      height: 24px;
      max-height: 24px;
      min-width: 24px;
      width: 24px;
      max-width: 24px;
      color: $primary-500;
    }
    .title {
      font-size: 14px;
      color: $primary;
      font-weight: 500;
      margin-bottom: 0;
      text-align: left;
    }
    .desc {
      font-size: 14px;
      color: $secondary;
      font-weight: 400;
      margin-bottom: 0;
      text-align: left;
    }
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .gap-3 {
    gap: 12px;
  }
  .gap-4 {
    gap: 16px;
  }
  .gap-5 {
    gap: 20px;
  }
  .gap-6 {
    gap: 24px;
  }
  .p-3 {
    padding: 12px;
  }
  .img-content {
    height: 450px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .w-50 {
    width: 50%;
  }
  .mx-auto {
    margin: 0 auto;
  }
  .list-content {
    margin: 20px 0;
    list-style: disc;
    margin-left: 24px;
    li {
      text-align: left;
    }
  }
  .ready-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    width: calc(100% - 144px);
    border-top: 1px solid $minimal;
  }
  .bg-minimal {
    background-color: $minimal;
  }
  .font-bold {
    font-weight: 700;
  }
  .btn-primary {
    height: 48px;
    font-weight: 600;
    color: $surface-0;
    font-size: 14px;
    border-radius: 12px;
    background-color: $primary-500;
    border: 1px solid $primary-500;
    padding: 0 24px;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    width: fit-content;
    &:hover {
      background-color: $primary-700;
      border: 1px solid $primary-700;
    }
  }
  .btn-outline {
    height: 48px;
    font-weight: 600;
    color: $primary-500;
    font-size: 14px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid $primary-500;
    padding: 0 24px;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    &:hover {
      background-color: $primary-500;
      color: $primary;
    }
  }
  .box-card {
    margin-top: 24px;
    svg {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      color: $primary-500;
    }
    .title {
      font-weight: 600;
      color: $primary;
      text-align: center;
      font-size: 16px;
    }
    .desc {
      font-weight: 400;
      color: $secondary;
      text-align: center;
      font-size: 14px;
    }
    .benefit-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }
    .benefit-item {
      padding: 12px;
      flex: 1 1 calc(25% - 15px);
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .coder-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }
    .coder-item {
      flex: 1 1 calc(50% - 12px);
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      svg {
        width: 24px;
        height: 24px;
      }
      .title {
        font-size: 14px;
      }
    }
  }
  .box-icon {
    background-color: $surface-0;
    border-radius: 12px;
    width: fit-content;
    margin-bottom: 8px;
    svg {
      width: 32px;
      height: 32px;
      color: $primary-500;
    }
  }
}

@media (max-width: 1024px) {
  .section-escrowly-api .sm-direction-column-reverse {
    flex-direction: column-reverse;
  }
  .section-escrowly-api .box-card .benefit-item {
    flex-basis: calc(50% - 12px);
  }
}
@media (max-width: 767px) {
  .section-escrowly-api .section {
    margin-bottom: 0;
  }
  .section-escrowly-api .img-content {
    height: 250px;
    margin-bottom: 16px;
  }
  .section-escrowly-api .card-pay svg {
    min-height: 20px;
    height: 20px;
    max-height: 20px;
    min-width: 20px;
    width: 20px;
    max-width: 20px;
  }
  .section-escrowly-api .ready-start {
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 32px);
  }
  .section-escrowly-api .box-card .benefit-item,
  .section-escrowly-api .box-card .coder-item {
    flex-basis: calc(100% - 12px);
  }
  .section-escrowly-api .w-50 {
    width: 100%;
  }
}
